{{#*inline "page"}}
<script type="javascript">
{{cards_json}} <!-- Need to prevent escaping the json -->
</script>

<p> Testing: {{cards_json}}<p>
<h1 id="card_text">Text</h1>

{{/inline}}
{{~> base title="Flashcards"~}}
